<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <command
            name="Publish as Docker Container..."
            categoryId="com.microsoft.ui.dropdown.category"
            id="com.microsoft.azuretools.docker.commands.azurePublishDockerContainer"
            icon="icons/PublishDockerContainer_16.png">
            <commandParameter id="com.microsoft.ui.dropdown.msg" name="DropDown Options" optional="true"></commandParameter>
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="com.microsoft.azuretools.docker.commands.azurePublishDockerContainer"
            class="com.microsoft.azuretools.docker.handlers.AzureDockerHostDeployHandler">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Azure"
               id="com.microsoft.azuretools.webprojmenu"
               icon="icons/windowsAzure.png">
            <command
                  name="Publish as Docker Container..."
                  commandId="com.microsoft.azuretools.docker.commands.azurePublishDockerContainer"/>
            <visibleWhen checkEnabled="false">
			    <with 
				variable="selection">
				<count value="1"/> 
				<iterate 
					operator="or">
					<adapt type="org.eclipse.core.resources.IProject">
        				<test property="com.microsoft.ui.webapp.property.isWebProj"/>
            		</adapt>
				</iterate> 
		    	</with>
			</visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution locationURI="menu:com.microsoft.ui.dropdown.toolbar.command">
         <command commandId="com.microsoft.azuretools.docker.commands.azurePublishDockerContainer" style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.commandImages">
     <image commandId="com.microsoft.azuretools.docker.commands.azurePublishDockerContainer" icon="icons/PublishDockerContainer_16.png"/>
   </extension>  
</plugin>
