<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
         <contexts file="contexts.xml">
         </contexts>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="com.microsoftopentechnologies.wacommon.startup.WACPStartUp"/>
   </extension>
    <!-- Azure preference page -->
   <extension point = "org.eclipse.ui.preferencePages">
    <page
       	id="com.persistent.ui.preferencepage.windowsazure"
       	class="com.microsoftopentechnologies.wacommon.preference.WindowsAzurePreferencePage"
       	name="Azure">
    </page>
   </extension>

   <!-- Views -->
 <extension
       point="org.eclipse.ui.views">
    <category
          id="com.gigaspaces.azure"
          name="Azure">
    </category>
    <view
          category="com.gigaspaces.azure"
          class="com.gigaspaces.azure.views.WindowsAzureActivityLogView"
          icon="icons/RoleFolder.gif"
          id="com.gigaspaces.azure.views.WindowsAzureActivityLogView"
          name="Azure Activity Log">
    </view>
 </extension>

  <!-- Toolbar Dropdown Menu -->
   <extension point="org.eclipse.ui.commands">
      <category id="com.microsoft.ui.dropdown.category" name="Publish DropDown"></category>
      <command categoryId="com.microsoft.ui.dropdown.category" id="com.microsoft.ui.dropdown.command" name="Publish">
         <commandParameter id="com.microsoft.ui.dropdown.msg" name="DropDown Options" optional="true"></commandParameter>
      </command>
   </extension>
   
   <!-- Icons for dropdown -->
   <extension point="org.eclipse.ui.commandImages">
      <image commandId="com.microsoft.ui.dropdown.command" icon="icons/publish.png"></image>
   </extension>
   
   <!-- Handlers for dropdown -->
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.microsoft.ui.dropdown.command" class="com.persistent.util.DropDownHandler"></handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar id="com.persistent.ui.toolbar">
            <command commandId="com.microsoft.ui.dropdown.command" id="com.microsoft.ui.dropdown.toolbar.command"
            style="pulldown" tooltip="Publish"/>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
